body,
.bg-dark,
.bg-success {
    background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, rgba(85, 88, 218, 1) 0%, rgba(95, 209, 249, 1) 100.2%) !important;
}

.nav-link {
    color: black !important;
    font-weight: bold;

}


.btn-outline-success {
    color: #fff !important;
    border-color: #fff !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    & .container-fluid {
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: row !important;
        padding: 0 !important;
        height: 50px !important;

        & * {
            font-size: 1rem !important;
        }

        & button {
            margin-left: 8px;
        }
    }

}


.bg-success {
    background-color: #9acd32 !important;
}

.tshirt-home {

    display: flex;
    flex-direction: column;

    & .container-fluid {
        height: calc(100% - 200px);

        & .jumbotron {
            padding: 0;

            & * {
                font-family: "math";
                color: black;
                font-weight: bold;
            }
        }

        & .bg-dark.text-white.p-4 {
            padding: 0 1.5rem !important
        }
    }

    & .nav-tabs {
        display: flex;
        justify-content: flex-end;
        padding: 8px;
        border-bottom: none !important;
    }

    &.menu,
    &footer {
        height: 100px;
    }
}

.container-fluid {
    overflow-y: auto;
    height: calc(100% - 400px);
    max-height: calc(100vh - 5vh);

}

.card-body>div.cart-item {
    height: 300px;
}